pkgbase = warcraftlogsuploader
	pkgdesc = warcraftlogs.com desktop client for Linux
	pkgver = 8.16.32
	pkgrel = 1
	url = https://warcraftlogs.com/
	arch = x86_64
	license = custom
	license = MIT
	license = custom:chromium-licenses
	depends = fuse2
	conflicts = warcraftlogsuploader
	options = !strip
	source = warcraftlogsuploader-v8.16.32.AppImage::https://github.com/RPGLogs/Uploaders-warcraftlogs/releases/download/v8.16.32/warcraftlogs-v8.16.32.AppImage
	source = start
	sha512sums = 6372a77f894a15bfb490e1ce9476613ea9e4736c0a29e4724a321790793ae25cc6a8fd76dcb0775eb2ecdb00a2ef76f9d206fe561f325fa4ae26fad27be7e64e
	sha512sums = 1f8d504fb27e815f7efcc8e97672bad12f531d171ab8a08c49439fb4ee63b07e9355c49e56b5fb2eb2f6d202ce56a0526b609fef4b6209832026709002eba22a

pkgname = warcraftlogsuploader
